/* HTML Elements */ 
body {
  margin-top: 0px;
  margin-left:auto;
  margin-right: auto;
  background: white;
  font: 14px Arial, Helvetica, sans-serif;
  color: #333;
}

h1 {
  color: #081C59;
  font-family: helvetica;
}

p {
  padding-bottom: 10px;
}

img {
  border: 0px;
}

a {
  color: #CE5300;
}

/* ID */
#content {
  background: white;
  border-top: 1px #D5D5D5 solid;
  border-bottom: 1px #D5D5D5 solid;
  margin-top: 20px;
  padding: 10px;
}

#content img {
  border: 2px solid #CCB3A3;
}

#content .footer {
  clear: both;
}

#footer {
  padding-top: 10px;
  width: 425px; /* div width = image width --> centered image */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#links {
  float: right;
  text-align: right;
  margin-top: 25px;  
}

#navigation {
  margin-top: 20px;
  color: black;
  font-weight: bold;
  padding-left: 10px;
}

#navigation span {
  margin-right: 10px;
  cursor: pointer;
  padding: 5px;
  font: 22px Arial, Helvetica, sans-serif;
  line-height: 30px;
}

#rekry img {
  float:right;
  margin-right: 0px;
}

#share {
  float: left;
  background: white;
  margin-top: 25px;
}

#site {
  min-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 48px 84px;
}

#sitelogo {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}


/* Classes */
.active {
  background: #FD8A3C;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:white;
}

.hover {
  background: #FD8A3C;
  padding: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:white;
}


div.right {
  float: right;
}

div.left {
  float: left;
}

.image-container {
  padding: 10px;
}


.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 36px;
	line-height: 48px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.bigger, h3 {
    margin-top: 15px;
	font-size: 18px;
	margin-bottom: 0px;
}

.quote {
  padding-left: 30px;
  padding-right: 20px;
  font-style: italic;
}

.fb, .twitter, .twitterwidget {
  margin-bottom: 10px;
}